- @page_title = 'Regional Partner Playbook'

%top

%h1{style: "padding: 1rem 0;"} Regional Partner Playbook

%ul
  %li
    %a{href: CDO.code_org_url('/educate/regional-partner/general')} General Resources
  %li
    %a{href: CDO.code_org_url('/educate/regional-partner/k5')} K-5 Resources
  %li
    %a{href: CDO.code_org_url('/educate/regional-partner/612')} 6-12 Resources

%iframe{style: "width: 800px; height: 1200px", src: "https://docs.google.com/document/d/e/2PACX-1vRXc7ZWEbn2CbyY8Pienu712TSZeZEovpwvHCQL3w2GN-v13qLPduQAeg4hnDP339Z3Y6AJhN5xU8Z3/pub?embedded=true"}
%br
%a{href: '#top'} Back to the top
%br
%br
