@use '@/components/common/styles/mixins' as mixins;

// Overline common styles
p {
  &.overline {
    margin-top: 0;
  }

  // Overline colors
  &.overline-color {
    &-primary {
      color: var(--text-brand-teal-primary);
    }

    &-secondary {
      color: var(--text-neutral-quaternary);
    }
  }

  &.overline-marginBottom {
    &-none {
      @include mixins.common-margin-bottom-none;
    }

    &-xs {
      @include mixins.common-margin-bottom-xs;
    }

    &-s {
      @include mixins.common-margin-bottom-s;
    }

    &-m {
      @include mixins.common-margin-bottom-m;
    }
  }
}
