%script{src: webpack_asset_path('js/curriculum_catalog/index.js'), data: {catalog: @catalog_data.to_json}}
#curriculum-catalog-container

- if Policies::Ai.ai_differentiation_enabled?(current_user)
  %div#ai-differentiation-fab-mount-point
