@import '@code-dot-org/component-library-styles/primitiveColors';
@import '@code-dot-org/component-library-styles/colors';
@import 'breakpoints';

.popover {
  width: 50%;
  background-color: #454545;
  white-space: normal;
  margin-top: 2rem;
  right: 1rem;
  text-align: start;

  @media screen and (min-width: $width-sm) {
    flex-direction: row !important;

    img {
      margin-bottom: 1.5rem;
    }
  }

  @media screen and (max-width: $width-sm) {
    align-items: center;
  }

  h5, p {
    margin-top: 0;
    color: var(--neutral-base-white);
  }

  img {
    max-width: 7.25rem !important;
    max-height: 7.25rem;
  }
}
