.flex-container.justify-space-between.align-items-center.gap-2.wrap
  %h2.centered.no-margin-bottom{style: "text-wrap:unset;"}
    =hoc_s("ai_ta_page.summary.header")
  %p.centered{style: "margin: 0px 200px 0px 200px;"}
    = hoc_s("ai_ta_page.summary.desc")
  .content-footer
    %img{src: "/images/ai/page/teaching-assistant/ai-ta-toolbar-graphic.png", alt: "", style: "width: 100%;"}
