- @page_title = 'AI Foundations Facilitator Landing Page'

%top

%h1{style: "padding: 1rem 0;"} AI Foundations Facilitator Landing Page

%iframe{style: "width: 800px; height: 1200px", src: "https://docs.google.com/document/d/e/2PACX-1vSgNYvNmYxujCK7jXgWepuvRsfrm40otT5YZgZun0RXchI7q3t4C1WHaJgAL4dZHrLJyOzAS4_29_hh/pub?embedded=true"}
%br
%a{href: '#top'} Back to the top
%br
%br
