- @page_title = 'Computer Science A Facilitator Landing Page'

%top

%h1{style: "padding: 1rem 0;"} Computer Science A Facilitator Landing Page

%iframe{style: "width: 800px; height: 1200px", src: "https://docs.google.com/document/d/e/2PACX-1vS8CXN403Wxf783rcbWlpjkiyM_030zXH3HPTaRoK5FWhDSgNB9x2rwxUkzcj-Y8ziDpyCkfrvpsQLE/pub?embedded=true"}
%br
%a{href: '#top'} Back to the top
%br
%br
