- @page_title = 'CS Discoveries Facilitator Landing Page'

%top

%h1{style: "padding: 1rem 0;"} Computer Science Discoveries Facilitator Landing Page

%iframe{style: "width: 800px; height: 1200px", src: "https://docs.google.com/document/d/e/2PACX-1vQ4fWYzDNhvbxFvdpIBLeBf7LDeGBArezXq28A5p6u2eBwUvbwZsvAYImwvNam8JGc-4CukY7Ka3HVB/pub?embedded=true"}
%br
%a{href: '#top'} Back to the top
%br
%br
