- @page_title = 'K-5 Facilitator Landing Page'

%top

%h1{style: "padding: 1rem 0;"} K-5 Facilitator Landing Page
%h2{style: "padding-bottom: 1rem;"} Computer Science Fundamentals and Computer Science Connections Facilitator Landing Page

%iframe{style: "width: 800px; height: 1200px", src: "https://docs.google.com/document/d/e/2PACX-1vSTnPeTAt373vdW-7esHkTcw3Np6ZxvAVGu3byK7euu7QpAJQBn91hFBTDQSWpfVziiAx8XUqVvMq-d/pub?embedded=true"}
%br
%a{href: '#top'} Back to the top
%br
%br
