- @page_title = 'CS Principles Facilitator Landing Page'

%top

%h1{style: "padding: 1rem 0;"} Computer Science Principles Facilitator Landing Page

%iframe{style: "width: 800px; height: 1200px", src: "https://docs.google.com/document/d/e/2PACX-1vQCeVcWppHjIflIU30Ltj2DAjvONB6OcNhtbJxSqw_UldsuT-4k-9OUANp3C5Dvffk6vYMWZaaLyBHg/pub?embedded=true"}
%br
%a{href: '#top'} Back to the top
%br
%br
