%h1{style: "padding: 0.5rem 0;"}
  You do not have the necessary permissions to view this page

%p
  You must be a Program Manager, Workshop Organizer, Workshop Admin, or
  = @course_name
  facilitator to view this course's facilitator landing page.
  If you believe this is a mistake, please reach out to
  = mail_to('facilitators@code.org') + '.'
