%h1
  You Are Already Enrolled

%p
  There is already an enrollment for this workshop associated with your account
  under the email
  = @user_email + '.'
  To view workshops you're enrolled in, visit the
  = link_to('My Professional Learning page', CDO.studio_url("/my-professional-learning")) + '.'
