- @page_title = 'Contact your local Regional Partner'
- js_locale = request.locale.to_s.downcase.tr('-', '_')

.h1 Contact your local Regional Partner
#regional-partner-mini-contact-container{"data-source-page-id" => "contact-regional-partner", "data-options" => {notes: "Please tell me more about the professional learning program!"}, style: "background-color: #d9eff7; padding: 20px; border-radius: 10px;"}

%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/regionalPartnerMiniContact.js')}

:javascript
  $(document).ready(window.showRegionalPartnerMiniContact);
