- @page_title = 'Workshop Catalog'
#regional-workshop-catalog

%link{href: "/shared/css/2022-rebrand-update.css", rel: "stylesheet"}
%link{href: asset_path('css/pd.css'), rel: "stylesheet"}
%script{src: webpack_asset_path('js/pd/professional_learning/regional_workshop_catalog.js'), data: {nationalWorkshops: @national_workshops.to_json, zipFromSchoolInfo: @zip_from_school_info.to_json}}
