- @page_title = 'Self-Paced PL Catalog'
#self-paced-pl-catalog

%link{href: asset_path('css/pd.css'), rel: "stylesheet"}
%script{src: webpack_asset_path('js/pd/professional_learning/self_paced_pl_catalog.js'), data: {selfPacedPLCourseOfferings: @self_paced_pl_course_offerings_for_catalog.to_json, studentsCourseOfferings: @students_course_offerings_for_catalog.to_json, user: current_user.to_json}}
