= render 'devise/registrations/sign_up_locale'

%script{src: webpack_asset_path('js/devise/registrations/account_type.js'), data: {isSignedOut: @is_signed_out.to_json}}
#account-type
  -# Populated by React
