= render 'devise/registrations/sign_up_locale'

%script{src: webpack_asset_path('js/devise/registrations/login_type.js'), data: {isSignedOut: @is_signed_out.to_json, passwordMinLength: User.password_min_length(@user_type, @country_code).to_json}}

#login-type-selection
