%script{src: webpack_asset_path('js/devise/registrations/personalization_information.js')}

#personalization-information{style: "display: flex; justify-content: center; align-items: center; min-height: 100vh; padding: 20px;"}
