:ruby
  @page_title = t('project.project_gallery')
  projects_data = {}
  projects_data[:currentTab] = @current_tab
  projects_data[:projectCount] = @project_count_millions

  if current_user
    projects_data[:canViewAdvancedTools] = !(current_user.under_13? && current_user.terms_version.nil?)
  end

  projects_data[:specialAnnouncement] = Announcements.get_announcement_for_page("/projects")
  projects_data[:recaptchaSiteKey] = CDO.recaptcha_site_key

%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/projects/index.js'), data: {projects: projects_data.to_json}}

%link{href: "/shared/css/2022-rebrand-update.css", rel: "stylesheet"}

#projects-page

/ Supply the FAB mount-point for the differentiation if allowed by the current user and this lesson
- if Policies::Ai.ai_differentiation_enabled?(current_user)
  %div#ai-differentiation-fab-mount-point
