@use '@code-dot-org/component-library-styles/font.scss' as font;

.richText {
  & > br:last-child {
    display: none;
  }

  & > *,
  .richTextParagraph,
  .richTextList {
    margin: 1rem 0 0;

    &:first-child,
    &:empty {
      margin: 0;
    }

    p,
    .richTextParagraph,
    a,
    ol {
      margin: 0;
    }
  }

  a {
    font-weight: font.$regular-font-weight;
  }

  b {
    font-weight: font.$semi-bold-font-weight;
  }

  p,
  .richTextParagraph {
    white-space: pre-wrap;
  }

  ul,
  ul.richTextList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding-inline-start: 0;
      display: inline-flex;
      gap: 0.5rem;
      padding-block: 0;

      svg {
        width: 0.75rem;
      }
    }
  }

  ol {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0;
    padding-inline-start: 1.25rem;
    margin: 0;

    li {
      @include font.main-font-regular;
      color: var(--text-neutral-primary);
      padding-inline-start: 0.25rem;
    }
  }
}
