@import 'color.scss';

.bubbleChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px);
  width: calc(100% - 80px);
  margin: 0 auto;
  gap: 15px;
  position: relative;

  .headingLight, .textLight {
    color: $neutral_dark;
  }

  .headingDark, .textDark {
    color: $neutral_white;
  }

  .headingLight, .headingDark {
    margin-top: 15px;
  }

  .textLight, .textDark {
    font-size: 14px;
  }

  .sublevelsContainer {
    display: flex;
    justify-content: space-around;
    gap: 40px;

    .sublevelContainer {
      display: flex;
      flex-direction: column;
      //align-items: center;
      align-items: stretch;
      justify-content: end;
      gap: 20px;
      flex-basis: 0;
      flex-grow: 1;
      border-radius: 20px;
      overflow: hidden;
      border: solid 1px $neutral_dark80;
      padding-bottom: 20px;

      &:hover {
        .sublevelImage {
          transform: scale(1.02, 1.02);
          transition: 0.1s ease-in-out;
        }
      }

      .sublevelText {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .sublevelImage {
        object-fit: contain;
        aspect-ratio: 1;
      }
    }
  }

  .buttonRow {
    .continueButton {
      position: absolute;
      inset-inline-end: 0;
    }
  }
}
