:ruby
    skills_data = {}
    skills_data[:canEditSkills] = current_user.levelbuilder?
    skills_data[:skills] = Skill.all

%script{src: webpack_asset_path('js/skills/edit.js'), data: {skillsData: skills_data.to_json}}

#skills